name: cdk-diff

on: 
  workflow_call:
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_ROLE_TO_ASSUME:
        required: true
    inputs:
      environment:
        required: false
        type: string
      cdk-version:
        required: false
        type: string
        default: "latest"


jobs:
  build:
    runs-on: ubuntu-latest
    # set envinment if it was passed to me
    environment: ${{ inputs.environment }}
    steps:
      # check my code out from git
      - uses: actions/checkout@v2
      # set up node 
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - name: Install CDK
        run: |
          npm install -g aws-cdk@${{ inputs.cdk-version }}
          npm install -g node-jq
      - name: Install Python Requirements
        run: |
          pip install -r requirements.txt
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
          role-duration-seconds: 1800
          role-skip-session-tagging: true
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      - name: Run CDK diff
        run: |
          cdk diff -c aws-cdk:enableDiffNoFail=true --no-color "*" 2>&1 | tee cdk-diff.log
      - name: Add comment to github
        env:
          URL: ${{ github.event.pull_request.comments_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo -e "#CDK DIFF\n\`\`\`\n$(cat cdk-diff.log)\n\`\`\`" > cdk-diff.log
          jq --raw-input --slurp '{body: .}' cdk-diff.log > cdk-diff.json
          curl \
            -H "Content-Type: application/json" \
            -H "Authorization: token $GITHUB_TOKEN" \
            -d @cdk-diff.json \
            -X POST \
            $URL