name: Call Reusable Workflows

on:
  workflow_dispatch:

jobs:

  job-name-not-important:
    uses: bhunt-krs/workflow-dev/.github/workflows/reuse-me.yml
    with:
      comment: "this is my comment"
