name: Call Reusable Workflows

on:
  workflow_dispatch:

jobs:

  job-name-not-important:
    #uses: bhunt-krs/workflow-dev/.github/workflows/reuse-me.yml@test1
    uses: krsio/shared-actions/.github/workflows/reuse-me.yml@main
    with:
      comment: "this is my comment"
      url: ${{ github.repository.comments_url }}
    
