name: Call Reusable Workflows

on:
  workflow_dispatch:

jobs:

  job-name-not-important:
    #uses: bhunt-krs/workflow-dev/.github/workflows/reuse-me.yml@test1
    uses: ./.github/workflows/reuse-me.yml
    with:
      environment: "staging"
    secrets:
      color: ${{ secrets.COLOR }}

  another-job:
    #do something with the output -- called with 'needs' because the job needs to finish before we proceed
    runs-on: self-hosted
    needs: job-name-not-important
    steps:
      - run: echo ${{ needs.job-name-not-important.outputs.result }}

  pylint:
    uses: ./.github/workflows/pylint.yml
    with:
      score: 9

