name: Pylint

on: 
  workflow_call:
    inputs:
      score:
        required: false
        type: string
        default: "10"
      python-verion:
        required: false
        type: string
        default: "3.10"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ inputs.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ inputs.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        pip install -r requirements.txt
    - name: Analysing the code with pylint
      env: 
        SCORE: ${{ inputs.score }}
      run: |
        pylint --fail-under=$SCORE $(find . -name "*.py" | xargs)  
