name: Reusable Workflow - Post Github Comment

on:
  workflow_call:
    inputs:
      comment:
        required: true
        type: string


jobs:
  job1:
    runs-on: self-hosted
    steps:
      - name: Add comment to github
        env:
          URL: ${{ github.event.pull_request.comments_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMENT: ${{ inputs.comment }}
        run: |
          echo "token: $GITHUB_TOKEN url: $URL comment: $COMMENT"
          curl \
            -H "Content-Type: application/json" \
            -H "Authorization: token $GITHUB_TOKEN" \
            -d "$COMMENT" \
            -X POST \
            $URL