name: Reusable Workflow - Post Github Comment

on:
  workflow_call:
    secrets:
      color:
        required: true
    inputs:
      environment:
        required: true
        type: string


jobs:
  job1:
    runs-on: self-hosted
    environment: ${{ inputs.environment }}
    outputs:
    steps:
      - name: Add comment to github
        env:
          ENV: ${{ inputs.environment }}
          COLOR: ${{ secrets.COLOR }}
        run: |
          [ $COLOR = "green" ] && echo "color is GREEN"
          [ $COLOR = "red" ] && echo "color is RED"
          [ $COLOR = "yellow" ] && echo "color is YELLOW"
          echo "environment: $ENV"
          echo "::set-output name=result::Success!"
